<%= render 'layouts/menu' %>
<div class="container">

<div class="row">
	<% @photo_groups.each do |group| %>

<div class="col-md-3 d-none d-md-block">
<div class="deck">
	<%= link_to gallery_show_path(group) do %>
		<%= image_tag group.group_image.variant(resize: "260x680"), :class => "grayscale" %>
	<% end %>
	<%= link_to gallery_show_path(group) do %>
		<h7><%= group.title %></h7>
	<% end %>
</div>
</div>


<% end %>
</div>

<div class="row d-md-none">
	<% @photo_groups.each do |group| %>

<div class="col-sm-12">
<div class="deck">
	<%= link_to gallery_show_path(group) do %>
		<%= image_tag group.group_image_sm.variant(resize: "260x260"), :class => "grayscale" %>
	<% end %>
	<%= link_to gallery_show_path(group) do %>
		<h7><%= group.title %></h7>
	<% end %>
</div>
</div>


<% end %>
</div>

</div>
