<nav class="navbar navbar-expand-lg navbar-light">
    <div class="mx-auto d-sm-flex d-block">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent2">
          <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link' do %>
              	9 МАРТА 2019
              	<% end %>
          </li>
          <% @photo_groups.each do |category| %>
          <li class="nav-item">
          <%= link_to gallery_show_path(category), class: 'nav-link' do %>
          <%= category.title %>
          <% end %>
          </li>
          <% end %>
          </ul>
        </div>
    </div>
</nav>
<% if user_signed_in? %>
  <%= render 'layouts/admin_menu' %>
<% end %>

<div class="container">
<p>
<strong>Альбом:</strong>
  <%= @photo_group.title %>
</p>

<%= react_component("HelloWorld", props: @photos, prerender: false) %>
</div>
