<p id="notice"><%= notice %></p>

<h1>Фоточки</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Фоточка</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= photo.caption %></td>
        <td>
          <%= image_tag photo.image.variant(resize: "100x100") %>
        </td>
        <td><%= link_to 'Позырить', photo %></td>
        <td><%= link_to 'Редактировать', edit_photo_path(photo) %></td>
        <td><%= link_to 'Удалить', photo, method: :delete, data: { confirm: 'Удаляем, точно?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Новая фоточка', new_photo_path %>
