@import "gallery";
@import "variables";
@import "bootstrap/scss/bootstrap";
@import "active_storage_drag_and_drop";

body {
  background-image: image-url('left_fon.png'), image-url('right_fon.png');
  background-size: 40px;
  background-position: left top, right top;
  background-repeat: repeat-y;
  font-family: baskerville;
}
