// Place all the styles related to the Gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

   .grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
   }
   .grayscale:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
   }
   .deck {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: baskerville;
   }
