$white: #FFFFFF;
$lightskyblue: #87CEFA;
$black: #010000;
$deepskyblue: #00BFFF;

$link-color: $black;

$navbar-default-bg: $white;
$navbar-default-border: darken($white, 6.5%);
$navbar-default-color: $black;
$navbar-default-link-color: $black;
$navbar-default-link-hover-color: lighten($navbar-default-link-color, 15%);

$nav-link-hover-bg: none;

$input-border-focus: $lightskyblue;

$hr-border: $lightskyblue;

$btn-primary-color: $black;
$btn-primary-bg: $lightskyblue;
$btn-primary-border: darken($lightskyblue, 6.5%);

$alert-info-bg: lighten($deepskyblue, 65%);
$alert-info-border: darken($alert-info-bg, 6.5%);
$alert-info-text: $black;
