<%= form_with(model: photo_group, local: true) do |form| %>
  <% if photo_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo_group.errors.count, "error") %> prohibited this photo_group from being saved:</h2>

      <ul>
      <% photo_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Название фотогруппы' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label 'Обложка группы' %>
    <%= form.file_field :group_image %>
  </div>

  <div class="field">
    <%= form.label 'Обложка группы для мобилки' %>
    <%= form.file_field :group_image_sm %>
  </div>

  <div class="field">
    <%= form.label 'Фоточки:' %>
    <%= form.drag_and_drop_file_field :images, 'Кидай фоточки сюда!', size_limit: 15_000_000 ,accept: 'image/png, image/jpeg, image/gif' %>
  </div>

  <div class="actions">
    <%= form.submit 'Создать фотогруппу' %>
  </div>
<% end %>
