<p id="notice"><%= notice %></p>

<h1>Фоточки</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='photo_groups' data-url="<%= sort_photo_groups_path %>">
    <% @photo_groups.each do |photo_group| %>
      <tr id=<%= dom_id(photo_group) %>>
        <td><%= photo_group.title %></td>
        <td><%= link_to 'Посмотреть', photo_group %></td>
        <td><%= link_to 'Редактировать', edit_photo_group_path(photo_group) %></td>
        <td><%= link_to 'Удалить', photo_group, method: :delete, data: { confirm: 'Точно удаляем - назад дороги нет?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить новую группу', new_photo_group_path %>
