<p id="notice"><%= notice %></p>

<%= link_to 'Изменить', edit_photo_group_path(@photo_group) %> |
<%= link_to 'НАЗАД', photo_groups_path %>

<p>
  <strong>Название группы:</strong>
  <%= @photo_group.title %>
</p>

<% if @photo_group.group_image.attached? %>
<!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Обложка:</strong>
    <br>
    <%= image_tag @photo_group.group_image.variant(resize: "300x300") %>
    <br>

  </p>
<% end %>

<% if @photo_group.group_image.attached? %>
<!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Обложка для мобилки:</strong>
    <br>
    <%= image_tag @photo_group.group_image.variant(resize: "300x300") %>
    <br>

  </p>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Фоточка</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody id='photo_groups' data-url="<%= sort_photos_path %>">
  <% @photo_group.photos.each do |photo| %>
    <tr id=<%= dom_id(photo) %>>
      <td><%= photo.title %></td>
      <td><%= photo.caption %></td>
      <td>
        <%= image_tag photo.image.variant(resize: "100x100") %>
      </td>
      <td><%= link_to 'Позырить', photo %></td>
      <td><%= link_to 'Редактировать', edit_photo_path(photo) %></td>
      <td><%= link_to 'Удалить', photo, method: :delete, data: { confirm: 'Удаляем, точно?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>
