<nav class="navbar navbar-expand-sm" data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample1">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <li class="nav-item"> <%= link_to 'Фотогруппы', photo_groups_path, class: 'nav-link' %> </li>
                  <li class="nav-item"> <%= link_to 'Фотографии', photos_path, class: 'nav-link' %> </li>
                  <li class="nav-item"> <%= link_to 'Выход из админки', destroy_user_session_path, class: 'nav-link', method: :delete %> </li>
            </ul>
        </div>
    </div>
</nav>
