<nav class="navbar navbar-expand-lg navbar-light">
    <div class="mx-auto d-sm-flex d-block">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <%= link_to root_path, class: 'navbar-brand d-sm-none' do %>
          AndreYulia
        <% end %>


        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
      	<%= link_to root_path, class: 'nav-link' do %>
      	9 МАРТА 2019
      	<% end %>
      </li>
            </ul>
        </div>
    </div>
</nav>

<% if user_signed_in? %>
  <%= render 'layouts/admin_menu' %>
<% end %>
